body {
    background-color: #787777;
    font-family: 'Open Sans', Arial, sans-serif;
	
}

.container {
    width: 94%;
    margin: 0 auto;
}

.headerPrincipal {
    background-color: #FFF;
    padding: 20px 0;
}

.headerPrincipal-titulo {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.headerPrincipal-titulo a {
    text-decoration: none;
    color: inherit;
}

.headerPrincipal-nav-link {
    padding: 10px;
    margin-bottom: 10px;
    color: #312c2c;
    background-color: #666c76;
    text-decoration: none;
    transition: .5s;
    display: flexbox;
    border-bottom: 1px solid #3f4048a9;
}

.contenidoPrincipal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenidoPrincipal-productos {
    display:grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 10px;
}

.subtitulo {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.contenidoPrincipal-productos-link {
    height: 100px; 
    background-color: #FFF;
    text-align: center;
    margin: 1%;
    transition: .3s;
    box-shadow: 2px 2px 2px #CCC;
    position: relative;	
}

.contenidoPrincipal-productos-link a {
    text-decoration: none;
    color: #000;
    font-weight:bolder;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contenidoPrincipal-productos-link:hover {
    box-shadow: 4px 4px 4px #CCC;
}

.contenidoPrincipal-productos-link a:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

.contenidoPrincipal-productos-link:nth-child(even) a:before {
    background: url(../img/background1.svg) no-repeat;
    background-size: cover;
}

.contenidoPrincipal-productos-link:nth-child(odd) a:before {
    background: url(../img/background2.svg) no-repeat;
    background-size: cover;
}

.rodapePrincipal {
    background-color: #23292d;
    padding-top: 20px;
}

.rodapePrincipal .subtitulo {
    color: #FFF;
}

.rodapePrincipal-navMap-link {
    text-decoration: none;
    color: #FFF;
    margin-top: 10px;
}

.rodapePrincipal-navMap-link {
    font-size: .9em;
}

.navmap-list-title {
    font-weight: 700;
    font-size: 1.3em;
    margin: .9em 0;
    padding-left: .3em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.navmap-list-title + .rodapePrincipal-navMap-link {
    margin-top: 0;
}

.navmap-list-title-zara { color: #ec5aaf; border-left: 4px solid #EC6E5A; }
.navmap-list-title-adidas { color: #9785bf; border-left: 4px solid #AD85BF; }
.navmap-list-title-nike { color: #775ef3; border-left: 4px solid #5EC6F3; }
.navmap-list-title-polo { color: #6725d2; border-left: 4px solid #25D285; }

.rodapePrincipal-patrocinadores {
    margin-top: 30px;
    background: #F2F5F7;
    padding: 20px 0;
}

.rodapePrincipal-contatoForm {
    margin-top: 20px;
    text-align: center;
}

.rodapePrincipal-contatoForm label[for=email-contato] {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
    display: block;
}

.rodapePrincipal-contatoForm-emailInput {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
}

.rodapePrincipal-contatoForm-submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #4DBA7A;
    color: #FFF;
    cursor: pointer;
}

.rodapePrincipal-contatoForm-submit,
.rodapePrincipal-contatoForm-emailInput {
    outline: 0;
    border: 1px solid #4DBA7A;
    box-sizing: border-box;
    font-size: 16px;
}

.videoSobre {
    background-color: #343c44;
    padding: 50px 0;
}

.videoSobre-video {
    max-width: 100%;
	display: inline-block;
}

.videoSobre .container {
    color: #FFF;
	display: flex;
}

.videoSobre-sobre-title {
    font-size: 1.2em;
    font-weight: bolder;
}
.videoSobre-sobre {
    font-size: 1.3em;
    line-height: 2;
}

.videoSobre-button {	
	li {
		font-size: 25px;
		width: 8em;
		height: 2em;
		color: #FFF;
		border-left: 0.08em solid;
		position: relative;
	}
	
	li::before,
	li::after
	 {
		content: '';
		position: absolute;
		width: inherit;
		border-left: inherit;
		z-index: -1;
	}
	
	li::before {
		height: 80%;
		top: 10%;
		left: calc(-0.15em - 0.08em * 2);
		filter: brightness(0.8);
	}
	
	li::after {
		height: 60%;
		top: 20%;
		left: calc(-0.15em * 2 - 0.08em * 3);
		filter: brightness(0.6);
	}
	
	li span {
		position: relative;
		height: 110%;
		background-color: #2e304c;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
		transition: 0.5s;
	}
	
	li:hover span {
		transform: translateX(0.15em);
	}
}

.rodapePrincipal-contatoForm-legend {
    margin-bottom: 10px;
}

@media (min-width: 769px) {
    .container {
        width: 85%;
    }

    .subtitulo {
        text-align: left;
    }

    .headerPrincipal-nav-link {
        border-radius: 5px;
        border: 1px solid #9799A6;
    }

    .headerPrincipal-nav-link:hover {
        color: #FFF;
        background-color: #9799A6;
    }

    .headerPrincipal-titulo {
        margin: 0;
    }

    .headerPrincipal-nav {
        width: auto;
    }

    .headerPrincipal-nav-link {
        width: auto;
        margin: 0 0 0 10px;
    }

    .rodapePrincipal-contatoForm {
        margin-top: 0;
        text-align: left;
    }

    .contenidoPrincipal-productos-link {
        width: calc(33.33% - 2%); 
        margin: 1%;
    }
}

@media (min-width: 1000px) {
    .contenidoPrincipal-productos-link {
        margin: 1.333%;
    }

    .contenidoPrincipal-productos-link:nth-child(3n) {
        margin-right: 1.33%;
    }

    .contenidoPrincipal-productos-link:nth-child(3n+1) {
        margin-left: 1.333%;
    }

    .contenidoPrincipal-productos-link:nth-child(4n) {
        margin-right: 0;
    }

    .contenidoPrincipal-productos-link:nth-child(4n+1) {
        margin-left: 0;
    }

    .videoSobre-sobre {
        margin-left: 1.5em;
    }
}

